body {
    height: 100vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
    flex-basis: 200px;
}

.score {
    width: 200px;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}

.action-btns {
    display: flex;  
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    flex-basis: 200px;
}

.rps-tool {
    font-size: 24px;
    width: 180px;
    height: 60px;
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.rps-tool:hover{
    color: black;
    background-color: white;
    cursor: pointer;
}

.round-state {
    flex-basis: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 900;
    text-align: center;
}